$icomoon-font-family: 'ac-icons' !default;
$icomoon-font-path: '~@fonts/AC Icons' !default;
$icomoon-font-hash: 'psfjop' !default;

$ac-icon--arrow-point-to-right: '\e919';
$ac-icon--left-arrow: '\e91a';
$ac-icon--add-outline: '\e900';
$ac-icon--albums-outline: '\e901';
$ac-icon--arrow-back-circle-outline: '\e902';
$ac-icon--arrow-back-outline: '\e903';
$ac-icon--arrow-down-outline: '\e904';
$ac-icon--arrow-forward-circle-outline: '\e905';
$ac-icon--arrow-forward-outline: '\e906';
$ac-icon--arrow-redo-outline: '\e907';
$ac-icon--arrow-up-outline: '\e908';
$ac-icon--calendar-outline: '\e909';
$ac-icon--close-outline: '\e90a';
$ac-icon--code-outline: '\e90b';
$ac-icon--diamond-outline: '\e90c';
$ac-icon--folder-outline: '\e90d';
$ac-icon--grid-outline: '\e90e';
$ac-icon--layers-outline: '\e90f';
$ac-icon--notepad: '\e910';
$ac-icon--options-outline: '\e911';
$ac-icon--pdf-file: '\e912';
$ac-icon--pencil: '\e913';
$ac-icon--people-outline: '\e914';
$ac-icon--person-outline: '\e915';
$ac-icon--portfolio: '\e916';
$ac-icon--search-outline: '\e917';
$ac-icon--share-outline: '\e918';
