.ac-route__transition-group {
	position: relative;
	min-height: 100%;
	height: 100%;
	overflow: hidden;

	transform-origin: 0% 50%;
	transform: translate3d(0, 0, 0) translateX(0) scale(1) perspective(0)
		rotateY(0deg);
	transition: transform (300ms * 1.25) $swift;
}

.ac-route__section {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow: auto;
	-webkit-overflow-scrolling: touch;

	> div {
		width: 100%;
		height: 100%;
	}
}

.fade-enter,
.fade-appear {
	opacity: 0;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
	opacity: 1;
	transition: opacity 300ms 200ms;
}

.fade-exit {
	opacity: 1;
}

.fade-exit.fade-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
